# Protect against directory listing
Options -Indexes

# Enable rewrite URL
RewriteEngine on

# Force non-www:
RewriteCond %{HTTP_HOST} ^www\.labaleinemarseille\.com [NC]
RewriteRule ^(.*)$ http://labaleinemarseille.com/$1 [L,R=301]

# Force https
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://labaleinemarseille.com/$1 [R,L]
