@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

@font-face {
  font-display: fallback;
}

html {
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

/* HEADER */
.header {
  background-color: #fff8da;
  width: 100vw;
}

.logo {
  width: 100vw;
  height: 100vmin;
  background-image: url(./assets/images/logo.png);
  background-size: 90vmin;
  background-position: center;
  background-repeat: no-repeat;
}

.logo h1 {
  display: none;
}

.logo .arrowdown a {
  font-size: calc(1rem + 4vmin);
  opacity: 0.5;
  color: #bb562d;
  position: relative;
  top: 85vmin;
}

.logo .arrowdown a:hover,
.logo .arrowdown a:focus {
  opacity: 0.8;
}

/* BODY */
.introduction {
  font-size: calc(1rem + 1vw);
  line-height: 120%;
  color: #bb562d;
  margin: 4vw 10vw;
}

.introduction p + p {
  margin-top: 10px;
}

.teaser {
  font-size: calc(1.5rem + 3vw);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  margin: 6vw 2vw 3vw 2vw;
}

.baseline {
  background-color: #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin: 20px auto;
  width: 50vw;
  max-width: 360px;
  line-height: 130%;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: #ddd;
  padding-top: 5vw;
  padding-bottom: 8vw;
  margin-top: 8vw;
}

.footer .contacts p {
  display: inline-block;
}

.footer .contacts p + p {
  margin-left: 30px;
}

.footer .contacts a {
  color: #fff8da;
  font-size: 1.9rem;
  text-decoration: none;
}

.footer .contacts a:hover,
.footer .contacts a:focus {
  color: #bb562d;
}

@media screen and (min-width: 400px) {
  .footer {
    padding-top: 3vw;
    padding-bottom: 5vw;
    margin-top: 5vw;
  }
  .footer .contacts a {
    font-size: 2.4rem;
  }
}
