// style.scss
@charset 'utf-8';

// PARTIALS
@import "reset";

// FONTS
// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
// font-family: 'Roboto Condensed', sans-serif;
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
@font-face {
  font-display: swap;
}

// VARIABLES
$grey-lighter: #ddd;
$grey-light: #bbb;
$grey: #999;
$grey-dark: #666;
$grey-darker: #333;
$yellow: #fffaee;
$gold: #a68431;
$orange: #cc5300;
$red: #b7332a;

// GENERIC
html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: calc(1em + 0.4vw);
  font-weight: 400;
  line-height: 1.2em;

  text-align: center;

  color: $grey-darker;
}

// HEADER
.header {
  width: 100vw;

  background-color: $yellow;

  .hero-image {
    width: 100vw;
    height: 100vmin;

    background-image: url(./assets/images/phalene.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(35vmin + 30vw);

    h1 {
      position: relative;
      top: calc(50% - 11vw);

      width: 100vw;
      height: 22vw;

      animation: logo 1s;

      background-image: url(./assets/images/Logo-baseline-noir.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80vw;

      @keyframes logo {
        0% {
          opacity: 0;
          background-size: 60vw;
        }
        50% {
          opacity: 1;
        }
        100% {
          background-size: 80vw;
        }
      }

      .hero-text {
        font-size: 14vw;
        font-weight: 700;

        position: relative;
        top: calc(50% - 7vw);

        display: none;

        text-transform: uppercase;

        color: black;
      }
    }

    .arrow-down {
      a {
        font-size: calc(1rem + 4vmin);

        position: relative;
        top: 50vmin;

        transition-duration: 0.5s;
        transition-property: all;

        color: $orange;

        &:hover,
        &:focus {
          font-size: calc(1.5rem + 4vmin);

          color: $red;
        }
      }
    }
  }
}

// BODY
.introduction {
  font-size: calc(1.1rem + 1vw);
  line-height: 1.2em;

  margin: 0 10vw;
  padding: 4vw;

  color: $red;

  p + p {
    margin-top: 0.5em;
  }

  .openinghours {
    font-size: calc(0.8rem + 0.7vw);
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 1em;

    color: $grey-dark;
  }
}

.announcement {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(1.2rem + 3vw);
  font-weight: 700;

  margin: 4vw 2vw 3vw;

  letter-spacing: 0.1vw;
  text-transform: uppercase;
}

.calltoaction {
  // margin-top: calc(0.6rem + 3vw);
  padding: 1em 0;

  div {
    display: inline-block;

    margin: 1.5rem 0.5rem;
    // min-height: 4rem;

    .button {
      font-size: calc(0.7rem + 1vw);
      font-weight: 700;

      padding: 1rem;

      cursor: pointer;
      text-decoration: none;
      letter-spacing: 0.1vw;

      color: $yellow;
      border: 0;
      border-radius: 0.5rem;
      background-color: $orange;

      .fas {
        font-size: calc(1.1rem + 1vw);

        position: relative;
        top: 0.3vw;

        margin-right: 0.5rem;
      }
    }
    a:hover.button,
    a:focus.button {
      background-color: $red;
    }
  }
}

.longtext {
  line-height: 140%;

  margin: 0 auto;
  padding: 2rem 10vw;

  text-align: left;

  background-color: $yellow;

  p + p {
    margin-top: 0.5rem;
  }

  .name {
    font-weight: 700;
  }

  .title2 {
    font-size: 2.5rem;
    line-height: 120%;

    margin-bottom: 1rem;
  }

  .surtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;

    display: block;

    margin-bottom: 0.5rem;

    text-transform: uppercase;

    color: $gold;
  }

  .title3 {
    font-size: 1.5rem;
    font-weight: 700;

    margin-top: 1.2rem;
    margin-bottom: 0.4rem;

    color: $orange;
  }
}

.founders {
  margin-top: 3rem;

  background-color: $gold;

  h3 {
    color: $yellow;
  }
}

.signature {
  font-size: calc(1rem + 1vw);
  line-height: 125%;

  margin-top: 10vw;

  color: $orange;
}

// FOOTER

.footer {
  margin-top: 2vw;
  padding-bottom: 3vw;

  color: $grey-light;
  background-color: $grey-darker;

  .category {
    font-size: calc(1em + 1vw);

    display: none;

    margin-bottom: 1em;
  }

  a {
    text-decoration: none;

    color: $yellow;

    &:hover,
    &:focus {
      color: white;
    }
  }

  .social {
    margin: 0 auto;
    padding: 1.5em 0;

    background-color: $orange;

    li {
      display: inline-block;

      margin: 0;
      padding: 0;
    }

    div {
      display: inline-block;

      &.icon {
        font-size: calc(2em + 2vw);

        margin: 0 0.5em;
      }

      &.label {
        display: none;
      }
    }
  }

  .contact {
    overflow: hidden;

    margin-top: 1.5em;

    ul {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;

      text-align: left;

      li {
        clear: both;

        margin-bottom: 0.5em;
      }

      div {
        display: inline-block;

        &.icon {
          font-size: calc(0.8em + 1vw);

          float: left;

          margin-right: 0.5em;
        }

        &.label {
          font-size: calc(0.6em + 1vw);
          line-height: 130%;
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 414px) {
  .signature {
    margin-top: 5vw;
  }
  .footer {
    margin-top: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .social {
      .label {
        font-size: calc(0.5em + 1vw);

        position: relative;
        top: -0.7em;
        left: -1em;

        display: inline-block !important;

        letter-spacing: 0.1vw;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .footer {
    .social {
      .icon {
        font-size: 3em !important;
      }
      .label {
        font-size: 1.1em !important;
      }
    }

    .contact {
      .icon {
        font-size: 1.1em !important;
      }
      .label {
        font-size: 1.1em !important;
      }
    }
  }
}
