// style.scss

// IMPORT
@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

// VARIABLES
$grey-lighter: #ddd;
$grey-light: #bbb;
$grey: #999;
$grey-dark: #666;
$grey-darker: #333;
$yellow: #fffaee;
$gold: #a68431;
$orange: #cc5300;
$red: #b7332a;

// GENERIC
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: $grey-darker;
  text-align: center;
}

body {
  font-size: 1rem;
}

// HEADER
.header {
  background-color: $yellow;
  width: 100vw;

  .hero-image {
    width: 100vw;
    height: 100vmin;
    background-image: url(./assets/images/phalene.svg);
    background-size: calc(35vmin + 30vw);
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      background-image: url(./assets/images/logo_noir.svg);
      width: 100vw;
      height: 14vw;
      background-size: 90vw;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      top: calc(50% - 7vw);

      .hero-text {
        display: none;
        font-size: 14vw;
        font-weight: 900;
        text-transform: uppercase;
        color: black;
        position: relative;
        top: calc(50% - 7vw);
      }
    }

    .arrow-down {
      a {
        font-size: calc(1rem + 4vmin);
        color: $orange;
        position: relative;
        top: 60vmin;
        transition-property: all;
        transition-duration: 0.5s;

        &:hover,
        &:focus {
          color: $red;
          font-size: calc(1.5rem + 4vmin);
        }
      }
    }
  }
}

// BODY
.introduction {
  font-size: calc(1rem + 1vw);
  line-height: 120%;
  color: $orange;
  margin: 4vw 10vw;

  p + p {
    margin-top: 10px;
  }
}

.announcement {
  font-size: calc(1rem + 3vw);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  margin: 8vw 2vw 3vw;
}

.cta {
  margin-top: calc(0.6rem + 3vw);

  div {
    display: inline-block;
    margin: 1.5rem 0.5rem;
    // min-height: 4rem;

    .button {
      background-color: $red;
      color: $yellow;
      font-size: calc(0.7rem + 1vw);
      letter-spacing: 0.1vw;
      font-weight: 700;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      border: 0;
      text-decoration: none;

      .fas {
        font-size: calc(1.1rem + 1vw);
        margin-right: 0.5rem;
        position: relative;
        top: 0.3vw;
      }
    }
    a:hover.button,
    a:focus.button {
      background-color: $orange;
    }
  }
}

.signature {
  color: $gold;
  font-size: calc(1rem + 1vw);
  line-height: 125%;
  margin-top: 10vw;
}

// FOOTER

.footer {
  color: $grey-light;
  background-color: $grey-darker;
  margin-top: 2vw;
  padding-bottom: 3vw;

  .category {
    font-size: calc(1em + 1vw);
    margin-bottom: 1em;
    display: none;
  }

  a {
    color: $yellow;
    text-decoration: none;

    &:hover,
    &:focus {
      color: white;
    }
  }

  .social {
    background-color: $gold;
    margin: 0 auto;
    padding: 1.5em 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    div {
      display: inline-block;

      &.icon {
        font-size: calc(2em + 2vw);
        margin: 0 0.5em;
      }

      &.label {
        display: none;
      }
    }
  }

  .contact {
    margin-top: 1.5em;
    overflow: hidden;

    ul {
      text-align: left;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;

      li {
        clear: both;
        margin-bottom: 0.5em;
      }

      div {
        display: inline-block;

        &.icon {
          font-size: calc(0.8em + 1vw);
          float: left;
          margin-right: 0.5em;
        }

        &.label {
          font-size: calc(0.6em + 1vw);
          line-height: 130%;
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 414px) {
  .signature {
    margin-top: 8vw;
  }
  .footer {
    margin-top: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .social {
      .label {
        display: inline-block !important;
        position: relative;
        top: -0.7em;
        left: -1em;
        font-size: calc(0.5em + 1vw);
        letter-spacing: 0.1vw;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .footer {
    .social {
      .icon {
        font-size: 3em !important;
      }
      .label {
        font-size: 1.1em !important;
      }
    }

    .contact {
      .icon {
        font-size: 1.1em !important;
      }
      .label {
        font-size: 1.1em !important;
      }
    }
  }
}
